<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @keyframes typing {
            from { width: 0; }
            to { width: 100%; }
        }

        .typing-animation {
            animation: typing 1s linear;
        }

        .listening {
            color: red;
        }
    </style>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/plantilla.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/euclid-circular-a" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='IMGS/favicon.png') }}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/euclid-circular-a" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>{% block title %}GenuineChat{% endblock %}</title>
</head>
<style id="page-style"></style>
<style>
    title{
        display: block !important;
    }
    .active {
        color: #2f81f7 !important;
}
</style>
<body>
    <header>
        <nav class="navigation">
            <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %}class="active"{% endif %}>Home</a>
            <a target="_blank" href="https://github.com/adriii0104">GitHub <i class="fi fi-brands-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/adriel-capell%C3%A1n-d%C3%ADaz-b48bb5259/">LinkedIn <i class="fi fi-brands-linkedin"></i></a>
            <a href="">Contact<i class="fi fi-rs-angle-small-down"></i></a>
            <a href="">How to view API <i class="fi fi-rs-angle-small-down"></i></a>
            {% block a %}
            {% endblock %}         

            <div id="night-day">
            <input type="checkbox" id="mode-switch" class="styled-checkbox" onchange="toggleMode()">
            <label for="mode-switch">
                <span class="icon">
                    <i class="fi fi-tr-cloud-sun"></i>
                    <i class="fi fi-sr-moon"></i>
                </span>
            </label>
        </div>
        </nav>
    </header>
    <script>
        function toggleMode() {
            var checkbox = document.getElementById("mode-switch");
            var pageStyle = document.getElementById("page-style");

            if (checkbox.checked) {
                pageStyle.innerHTML = "body { background-color: white !important; color: black !important; } a { color: black !important} i{ color: black !important} h4{ color: black !important} p{ color: black !important} .loguer { color: white !important } .fi{ color: white !important} .fi-brands-github{ color: black !important} .fi-brands-linkedin{ color: black !important} .content{ color: white !important}";
            } else {
                pageStyle.innerHTML = "body { background-color: rgba(0, 0, 0, 0.93) !important ;color: white !important; } a { color: white !important} i{ color: white !important}";
            }
        }
        // Obtén la URL de la página actual
const urlActual = window.location.href;

// Obtén el elemento del enlace "Home" por su ID
const enlaceHome = document.getElementById('home');

// Comprueba si la URL actual coincide con la URL del enlace "Home"
if (urlActual.includes('home.html')) {
  enlaceHome.classList.add('active'); // Agrega la clase "active" al enlace "Home"
}
    </script>
</body>
{% block body %}

{% endblock %}