* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.452)), url(../IMGS/hero-iconizer_x1_old.jpg) no-repeat;
    background-position: center center;
    background-size: 80%;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 770px;
    background: #ffff;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4pt;
}

#altern-log i {
    margin-right: 30px;
    padding: 10px 12px;
    border-radius: 4pt;
    background-color: #96969631;
}

.user-box input {
    width: 100%;
    height: 42px;
    border-radius: 3pt;
    border: 1px solid #7979794f;
    margin-top: 20px;
}

.user-box input::placeholder {
    color: #7979798a;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.05em;
    margin-left: 2% !important;
    margin-top: 1.4%;
    position: absolute;
}

.content .user-box {
    width: 120%;
}

.content button {
    width: 120%;
    height: 45px;
    color: rgba(150, 150, 150, 0.69);
    background-color: rgba(150, 150, 150, 0.192);
    border-color: #0000;
    border-radius: 3pt;
    font-size: 0.9em;
}
.user-box{
    position: relative;
}
.user-box input:focus {
    outline: none;
    border: 1px solid #000;
    margin-left: 0.4%;
    transition: .2s;
    -webkit-transition:.2s;
    -moz-transition:.2s;
}
.password-toggle {
    position: absolute;
    top: 71%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

.content .close {
    color: white !important;
    margin-left: 151.3%;
    margin-top: -20.5%;
    border-right: 42pt;
    font-size: 2.5em;
    text-align: center;
    width: 50px;
    height: 40px;
    border-radius: 155px;

}

.content p {
    font-weight: 700;
    font-size: 1.70em;
}

.log-in-card {
    margin-top: 70px;
    margin-left: -50px;

}

.terms-and-conditions .field {
    color: #2c2c2cb0;
    font-weight: lighter;
}

.terms-and-conditions span {
    border-bottom: 1px solid #2c2c2cb0;
}
.terms-and-conditions{
    font-size: 0.9em !important;
}
#text-indication .log{
    border-bottom: 1px solid #80808052;
    margin-bottom: 20px;
    font-size: 0.95em !important;

}
.redirect{
    font-size: 0.95em !important;
    font-weight: lighter !important;
    cursor: pointer;
    margin-bottom: 18px;

}
#altern-log p{
    font-size: 0.95em;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer{
    font-size: 0.75em !important;
    text-align: center;
    font-weight: lighter !important;
}
.error{
    font-size: 0.95em;
}
.error-email{
    font-size: 0.95em !important;
    color: red;
    text-align: center;
    margin-top: 20px;
}