* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    letter-spacing: 0.07em;
    color: white !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    background-position: center center;
    background-size: 50%;
}
#principal {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 44.5%;
    transform: translate(-50%, -50%);
}
#principal p:nth-child(2){
    color: #2f81f7 !important;
}
#principal h4{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1.25em;
    font-weight: 500;
}
#principal button{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border: none;
    color: #ffff;
    background: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 15px 85px;
    font-weight: 500;
}
#principal button:hover{
    color: #2f81f7 !important;
    background: rgb(22, 22, 22);
    cursor: pointer;
}
#txt {
    background-color: rgb(35, 46, 53);
    width: 50% !important;
    height:25% !important;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 7pt;
    border: 0.5px solid #424242;
}
#txt p{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1.05em;
    color: #2f81f7 !important;
    text-align: center;
    font-weight: lighter;
    text-align: center;
    font-weight: 500;
}
#txt p{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #333;
    font-size: 21px;
    animation: typing 3s steps(40) infinite, reset-animation 20s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes reset-animation {
    0%, 100% { width: 0; }
    50% { width: 100%; }
}

#search{
    position: absolute;
    top: 13%;
    left: 15%;
    transform: translate(-50%, -50);
}
#search label {
    top: 0;
    left: 0;
    position: absolute;
    padding: 13px 15px;
    font-size: 0.65em;
    color: rgb(255, 255, 255);
    pointer-events: none;
    margin-left: -3px;
    transition: all .4s ease-in-out;
}
#search input{
    padding: 11px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(35, 46, 53);
    font-weight: 600;
}
#search input:focus~label,
#search input:valid~label{
    margin-top: -35px;
}
#search span{
    color: rgb(161, 161, 161) !important;
    margin-left: 10px;
}
.spinner {
    display: none; /* Ocultar el spinner inicialmente */
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .copyright{
    position: fixed;
    bottom: 0;
    font-size: 0.70em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #2f81f7 !important;
  }
  
 .copyright p{
    color: #2f81f7 !important;
    margin-top: -25px;
    font-weight: bold;
}
.copyright i{
    color: #2f81f7 !important;
    
}
a:nth-child(6){
    margin-left: 425px !important;
    background-color: rgb(35, 46, 53);
    color: black !important;
    padding: 12px 22px;
    border-radius: 4pt;
  }
  a:nth-child(6):hover{
    color: #2f81f7 !important;
  }
  .loguer{
    position: absolute;
    top: 150% !important;
    left: 49% !important;
    transform: translate(-50%, -50%) !important;
    background-color: rgb(35, 46, 53);
    color: rgb(255, 255, 255) !important;
    padding: 12px 95px !important;
    border-radius: 3pt !important;
    display: block !important;
}
  