/* styles.css */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: 50%;
    letter-spacing: 0.07em;
    background: rgba(0, 0, 0, 0.93);
    color : #fff ;

}
.user-recognititon{
    font-size: 0.65em !important;
    position: fixed;
    bottom: 0;
    margin-top: -10px;

}

.chat-container {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    max-width: 800px;
    margin: 120px auto !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(146, 146, 146, 0.1);
}

#chat-window {
    margin-top: 110px;
    margin-bottom: 120px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column-reverse; /* Cambio en la dirección de la columna */
}

#user-input {
    display: flex;
    padding: 40px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    position: fixed;
    bottom: 0;
    width: 70%;
}

#user-message {
    flex-grow: 1;
    padding: 15px 275px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    color: white;
    font-weight: 500;
}
#user-message::placeholder{
    color: white;
    transition: 0.5s all;
}
#user-message:focus::placeholder{
    margin-left: 100%;
}


#send-btn {
    margin-left: 0px;
    margin-bottom: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.95em;
    color: white;
}
#send-btn:hover {
    color: rgb(17, 98, 112);
}
@keyframes vibrate {
    0% { transform: translate(0); }
    10% { transform: translate(-2px, 2px); }
    20% { transform: translate(-2px, -2px); }
    30% { transform: translate(2px, 2px); }
    40% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    60% { transform: translate(-2px, -2px); }
    70% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    90% { transform: translate(-2px, 2px); }
    100% { transform: translate(0); }
  }
  
#send-btn:active {
    animation: vibrate 0.3s;
  }
.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.user-message {
    height: 15px auto;
    list-style: none;
    background: rgb(22, 22, 22);
}

.bot-message {
    background-color: transparent;
    height: 75px auto !important;
    list-style: none;
    border-top: 1px;
    border-bottom-width: 1px;
    border-color: rgba(0,0,0,.1);
    border-left: none;
    border-right: none;
    width: 100%;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
}

.voice-message {
    background-color: #fff4e2;
}

.message-content {
    margin: 0;
}
#audio-btn{
    background: transparent;
    border: none;
    font-size: 1.95em;
    color: white;
}
#audio-btn:hover {
    color: rgb(17, 98, 112);
}
.href{
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.65em;
    background: none !important;
}
#user-input i{
    vertical-align: middle;
    margin-left: 25px;
}