/* styles.css */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: 50%;
    letter-spacing: 0.07em;
    background: #0d1117;
    color : #fff ;
    min-height: 0vh !important;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.27) 0.5s;
}
.user-recognititon{
    font-size: 0.65em !important;
    position: fixed;
    bottom: 0;
    margin-top: -10px;
}

.chat-container {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    max-width: 800px;
    margin: 120px auto !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(146, 146, 146, 0.1);
}

#chat-window {
    position: relative !important;
    left: 0 !important;
    margin-top: 10px;
    margin-bottom: 120px;
    padding: 20px;
    max-height: 660px;
    overflow-y: auto;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column-reverse; /* Cambio en la dirección de la columna */
    margin-left: -1.1%;
}

#user-input {
    display: flex;
    padding: 40px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    position: fixed;
    bottom: 0;
    width: 70%;
}
#user-input input{
    letter-spacing: 0.11em !important;
}
#user-message:focus{
    border: 1px solid #2f81f7;
}
#user-message:focus{
    outline: none;
}
#user-input i{
    font-size: 24px;
}

#user-message {
    padding: 25px 15px;
    width: 400% !important;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    color: white;
    font-weight: 500;
    height: 75px;
}
#user-message::placeholder{
    color: white;
    transition: 0.5s all;
}
#user-input{
  margin-left: -12%;
}
#user-input #send-btn {
    position: absolute;
    top: 53px;
    left: 925px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.95em;
    color: white;
}
#user-input #send-btn:hover {
    color: rgb(17, 98, 112);
}
@keyframes vibrate {
    0% { transform: translate(0); }
    10% { transform: translate(-2px, 2px); }
    20% { transform: translate(-2px, -2px); }
    30% { transform: translate(2px, 2px); }
    40% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    60% { transform: translate(-2px, -2px); }
    70% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    90% { transform: translate(-2px, 2px); }
    100% { transform: translate(0); }
  }
  
#send-btn:active {
    animation: vibrate 0.3s;
  }
.message {
    margin-bottom: 10px;
    padding: 8px;
    left: 0;
    font-family: "Poppins", sans-serif;
}

.user-message {
  position: relative;
  left: 0 !important;
    height: auto;
    width: 85%;
    list-style: none;
    left: 0;
    background-color: #181f29;
    border-top: 1.5px solid rgb(0, 0, 0);
    right: 0;
    overflow: hidden;
    padding: 25px 500px;
}
.user-message p{
    list-style: none;
    width: 65% !important;
    padding: 15px 10px;
}


.bot-message {
  padding: 25px 500px;
    list-style: none;
    border-top: 1px;
    border-left: none;
    border-right: none;
    width: 100%;
    color: white; 
    font-family: 'Hind Madurai', sans-serif;
}
.bot-message p{
  width: 65% !important;
}
li {
 left: 0 !important;
}

.voice-message {
    background-color: #fff4e2;
}
#user-input #audio-btn {
    position: absolute;
    top: 53px;
    left: 825px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.95em;
    color: white;
    width: 10%;
}

.message-content {
    margin: 0;
}
#audio-btn:hover {
    color: rgb(17, 98, 112);
}
.href{
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.65em;
    background: none !important;
}
#user-input i{
    vertical-align: middle;
    margin-left: 25px;
}
#profile {
    position: fixed;
    bottom: 0;
    right: 20px;
    display: flex;
    padding: 70px 30px;
  }
  
  #profile p {
    font-size: 1.0em;
    font-family: Poppins, 'Sans-serif';
    font-weight: 600;
    color: white !important;
    
  }
  .regulations{
    color: #686868;
    font-size: 0.75em;
    font-weight: bold;
    position: fixed;
    left: 43%;
    transform: translate(-50%, -50%);
    text-align: center;
    bottom: 0;
  }
  .regulations span{
    text-decoration: underline;
  }
  .regulations p{
    margin-top: -25px;
  }
  .lg{
    box-shadow: none;
    margin: 0 auto;
    box-shadow: none !important;
    position: fixed;
    font-size: 2.25em;
    pointer-events: none;
    margin-left: 15%;
  }
  /* Estilos para el deslizador */
::-webkit-scrollbar {
    width: 10px; /* Ancho del deslizador */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #424b5c;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #080b0f;
    border-radius: 5px; /* Radio de las esquinas del deslizador */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #020405;
  }

  #preferences{
    position: fixed;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #181f29;
    padding: 25px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 13px;
  }
  .first-cape{
    position: relative;
  }
  .first-cape li{
    margin-top: 75px;
  }
  .first-cape a{
    margin-top: 75px !important;
  }
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 10px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: all 0.3s;
  }
  
  .switch:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .toggle-switch input:checked + .switch {
    background-color: #2f81f7;
  }
  
  .toggle-switch input:checked + .switch:before {
    transform: translateX(20px);
  }
  .last-div{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 100px;
    background-color: rgb(35, 46, 53);
    border-radius: 4pt;
    margin-top: 45px;
    text-align: center;
  }
  .last-div:hover{
    border: 0.5px solid #2f81f7;
    cursor: pointer;
  }
  .last-div a{
    width: 175% !important;
  }  
  .last-div a:hover{
    color:  #2f81f8 !important;
  }
  