<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <div id="chat-window">
            <ul id="message-list"></ul>
        </div>
        <div id="user-input">
            <input type="text" id="user-message" placeholder="Escribe un mensaje..." autocomplete="off">
            <button id="send-btn" onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        function sendMessage() {
            var userMessage = document.getElementById("user-message").value;
            var messageList = document.getElementById("message-list");

            // Agregar el mensaje del usuario a la lista de mensajes
            var userMessageItem = document.createElement("li");
            userMessageItem.classList.add("user-message");
            userMessageItem.textContent = "Tú: " + userMessage;
            messageList.appendChild(userMessageItem);

            // Enviar el mensaje al servidor para obtener la respuesta
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = this.responseText;

                    // Agregar la respuesta del chatbot a la lista de mensajes
                    var chatbotMessageItem = document.createElement("li");
                    chatbotMessageItem.classList.add("chatbot-message");
                    chatbotMessageItem.textContent = "ChatBot: " + response;
                    messageList.appendChild(chatbotMessageItem);

                    // Limpiar el campo de entrada de usuario
                    document.getElementById("user-message").value = "";

                    // Desplazarse al final de la lista de mensajes
                    messageList.scrollTop = messageList.scrollHeight;
                }
            };
            xhttp.open("POST", "/get_response", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("user_message=" + userMessage);
        }
    </script>
</body>
</html>
