{% extends './plantillas/base.html' %}

{% block title %}Home {% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <style>
        #principal {
            animation: floatAnimation 1.5s infinite alternate;
        }
        
        @keyframes floatAnimation {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(20px);
            }
        }
    </style>
</head>
<div class="spinner">
    <div class="spinner-circle"></div>
</div>
<div id="search">
    <input list="list-names" type="search" required>
    <label><i class='fi fi-rr-search'></i> <span> Documentation</span></label>
    <datalist id="list-names">
        <a href="{{ url_for('login') }}">
        <option value="Api reference"></a>

            </option>
            <option value="Libraries">
                <option value="Code">
                    <option value="GitHub">
                        <option value="Css">
                            <option value="Styles">
                                <option value="OpenAi">
                                    <option value="Key">
                                        <option value="User">
    </datalist>

</div>

<div id="principal" >
    <h4>Genuine Chat</h4>
    <p>Welcome to the best AI Chat</p><br><br>
        <button id="button" style="pointer-events: all;" onclick="showSpinner(button)">Start</button>
</div>
<div id="txt" style="pointer-events: none;">
    <p class="texto" style="display: none;"> ¡The future is already near, why don't you start living it?! </p>
    <p class="texto" style="display: none;">¡Dare to challenge the limits and conquer the future!</p>
    <p class="texto" style="display: none;">Embark on a journey towards a world of unlimited opportunities!</p>
    <p class="texto" style="display: none;">¡Dare to talk to the best AI Chat</p>
    <p class="texto" style="display: none;">¡Discover the secret to achieving your boldest dreams!</p>
    <p class="texto" style="display: none;">Be the protagonist of your own epic story!</p>
    <p class="texto" style="display: none;">Be the protagonist of your own epic story!</p>
    <p class="texto" style="display: none;">Chase your dreams fearlessly and relentlessly.</p>
    <p class="texto" style="display: none;">Embrace challenges as stepping stones to success.</p>
    <p class="texto" style="display: none;">Unleash your inner strength and conquer the impossible.</p>
    <p class="texto" style="display: none;">Believe in yourself and you will achieve greatness.</p>
    <p class="texto" style="display: none;">Strive for progress, not perfection.</p>
    <p class="texto" style="display: none;">Dare to be different and create your own path.</p>
    <p class="texto" style="display: none;">Never underestimate the power of your determination.</p>
    <p class="texto" style="display: none;">Embrace the unknown and let it fuel your growth.</p>
    <p class="texto" style="display: none;">In the face of adversity, find your inner resilience.</p>
    <!-- Agrega más elementos <p> con la clase "texto" para mostrar más textos -->
</div>
<div class="copyright" style="pointer-events: none !important;">
    <p>All rights reserved <i class="fi fi-rr-copyright"></i> <br> <span style="text-align: center !important; margin-left: 25px; color: #686868 !important; " >GENUINE</p>
</div>

<script>
        function showSpinner(button) {
  // Crear el elemento del spinner
  var spinner = document.createElement('span');
  spinner.classList.add('spinner');

  // Reemplazar el contenido del botón con el spinner
  button.innerHTML = '';
  button.appendChild(spinner);

  // Mostrar el spinner cambiando el valor de display
  spinner.style.display = 'inline-block';
  window.location.href = 'http://127.0.0.1:5000/auth/register';

  // Redirigir después de mostrar el spinner
}
    document.addEventListener("DOMContentLoaded", function(event) {
        var textElements = document.getElementsByClassName("texto");
        var delay = 20000; // Retraso en milisegundos entre la aparición y desaparición de cada texto
        var currentIndex = 0;

        function showNextText() {
            if (currentIndex < textElements.length) {
                textElements[currentIndex].style.display = "block";
                setTimeout(function() {
                    textElements[currentIndex].style.display = "none";
                    currentIndex++;
                    showNextText();
                }, delay);
            }
        }

        showNextText();
    });


</script>
{% endblock %}
