
{% extends 'plantillas/plantilla-chat.html' %}

    {% block chat %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/settings.css') }}">
        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    </head>

    <body>
        <header>
            <h2>
                Profile
            </h2>
        </header>
        <div>
            <div class="container">

            </div>
        </div>
    </body>
    {% endblock %}