
{% extends 'plantillas/plantilla-chat.html' %}

    {% block chat %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/settings.css') }}">
        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    </head>

    <body>
        <form>
        <div id="configs">
            <div class="container">
                <p>
                    Bot Speak
                </p>
                <input id="checkbox-botspeak" class="checkbox" type="checkbox">
                <label id="label-botspeak">
                    Off
                </label>
            </div>
            <div class="container">
                <P>
                    Two Factor
                </P>
                <input id="checkbox-twofactor" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Child Safe
                </P>
                <input type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input type="checkbox" class="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>
            <div class="container">
                <P>
                    Bot Speak
                </P>
                <input id="checkbox-" class="checkbox" type="checkbox">
                <label>
                    Off
                </label>

            </div>

        </div>
        <input type="submit" value="Save changes">
    </form>
    </body>
    <script src="{{ url_for('static', filename='JS/settings.js') }}"></script>
    {% endblock %}