{% extends './plantillas/base.html' %}

{% block href %} Login {% endblock %}

{% block body %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth_login.css') }}">
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
  
  .navigation a:nth-child(6) {
    display: none;
    }
</style>



<div class="spinner">
  <div class="spinner-circle"></div>
</div>

<div class="content">
  <div class="log-in-card">
    <div class="close">
      <a href="{{ url_for('home') }}">
        <i class="fi fi-ss-rectangle-xmark"></i>
      </a>
    </div>

    <p>Log in your account <img src="{{ url_for('static', filename='IMGS/2-removebg-preview (1).png') }}" alt="" width="45px"></p><br><br><br>
    <div id="altern-log">
      <p>Sign in with</p><br>
      <i class="fi fi-brands-apple"></i>
      <i class="fi fi-brands-google"></i>
      <i class="fi fi-brands-facebook"></i>
      <i class="fi fi-brands-github"></i>
      <i class="fi fi-brands-microsoft"></i>
    </div><br><br><br><br>

    <div id="text-indication">
      <p class="log">Or log with Mail</p>
      <ul class="flash-messages">
      {% with messages = get_flashed_messages() %}
  {% if messages %}

      {% for message in messages %}
        <li style="position: absolute; width: 100%; font-size: 0.85em;">{{ message }}</li>
        <li style="position: absolute; width: 100%; font-size: 0.85em;">{{ message }}</li>

      {% endfor %}

  {% endif %}

{% endwith %}
{% if errorL %}
<li style="position: absolute; width: 100%; font-size: 0.85em;">{{ errorL }}</li>
{% endif %}
<li style="position: absolute; width: 100%; font-size: 0.85em;" id="error"></li>


</ul>
    </div><br>

    <form method="post">
      <div class="user-box">
        <input type="text" id="email" oninput="validate()" name="email" autocomplete="new-password" required>
        <label>Email</label>
      </div><br>
      
      <div class="user-box">
        <input type="password" id="contraseña" name="contraseña" autocomplete="new-password" oninput="validate()" required>
        <label>Password</label>
        <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fi fi-sr-eye"></i></span>
      </div>
      <br>

      {% if error %}
      <script>
        window.onload = function (){
          document.getElementById("email").focus();
          var error = '{{ error}}'
          if (error) {
                  document.getElementById("email").style.border = "1px solid red";
                  document.getElementById("contraseña").style.border = "1px solid red";
                  document.getElementById("error").innerHTML = "Email or password not found";
        }}
      </script>
      {% endif %}
      <a href="{{ url_for ('register') }}">
      <p class="redirect">¿Don't have an account?</p>
      </a>


      <button class="i-button-register" id="button" disabled="true">Log In</button><br><br><br><br><br>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='JS/login.js') }}"></script>
</body>
{% endblock %}
