{% extends './plantillas/base.html' %}
{% block title %}Register{% endblock %}
{% block href %} Login {% endblock %}

{% block body %}

<style>
      .active {
        color: #2f81f7 !important;
}
</style>


{% block a %}
<a class="loguer" href="{{ url_for('login') }}" {% if request.path == url_for('login') %}class="active"{% endif %}>Login</a>
{% endblock %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth_register.css') }}">
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<div class="spinner">
  <div class="spinner-circle"></div>
</div>

<div class="content">
  <div class="log-in-card">
    <div class="close">
      <a href="{{ url_for('home') }}">
        <i class="fi fi-bs-power"></i>
      </a>
    </div>

    <p>Create account </p>
    <div id="altern-log">
      <p>Register with</p><br>
      <i class="fi fi-brands-apple"></i>
      <i class="fi fi-brands-google"></i>
      <i class="fi fi-brands-facebook"></i>
      <i class="fi fi-brands-github"></i>
      <i class="fi fi-brands-microsoft"></i>
    </div><br>

    <div id="text-indication">
      <p style="font-size: 0.95em; border-bottom: 1px solid #80808052;">Or register with email</p>
      <p class="error-email" id="error-email"></p>
      <ul class="flash-messages" style="list-style: none;">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
  
        {% for message in messages %}
          <li style="position: absolute; width: 100%; font-size: 0.85em;">{{ message }}</li>
          <li style="position: absolute; width: 100%; font-size: 0.85em;">{{ message }}</li>
  
        {% endfor %}
  
    {% endif %}
  
  {% endwith %}
  {% if errorL %}
  <li style="position: absolute; width: 100%; font-size: 0.85em;">{{ errorL }}</li>
  {% endif %}
  <li style="position: absolute; width: 100%; font-size: 0.85em;" id="error"></li>
  
  
  </ul>
    </div>

    <form method="post" onsubmit="return check()">
      <div class="user-box">
        <input type="text" name="name" id="name" class="name" placeholder="Jane" autocomplete="off" required>
        <label for="name">Name</label>
      </div>

      <div class="user-box">
        <input type="text" name="last_name" id="last_name" placeholder="Doe" autocomplete="off" required>
        <label for="last_name">Last name</label>
      </div>

      <div class="user-box">
        <input type="text" id="email" oninput="validate()" name="email" placeholder="janedoe@genuine.com" autocomplete="off" required>
        <label for="email">Email</label>
      </div>
      <div class="user-box">
        <input type="password" id="contraseña" oninput="validate()" name="contraseña"  autocomplete="new-password" required>
        <label for="contraseña">Password</label>
      </div>

      <div class="user-box">
        <input type="text" id="api" name="openai" oninput="validate()" placeholder="sk-xxxxxxxxxxxx" autocomplete="off" required>
        <label for="api">Api OpenAi</label>
      </div><br>

      <div class="terms-and-conditions">
        <div class="field">
          <input type="checkbox" id="check">
          <label for="check" style="font-size: 13px;">
            Agree to <span> Terms and Conditions & Privacy Policy</span>
          </label>
        </div><br>
        <p id="errorregister" class="error"></p>
      </div>
      <button class="i-button-register" id="button" disabled="true">Register</button><br><br>
      <div id="spinnerContainer"></div>
    </form>
  </div>
</div>
</section>


</body>
<script src="{{ url_for('static', filename='JS/register.js') }}"></script>
{% if error %}
<script>
  var error = '{{ error }}';
  if (error) {
    document.getElementById('email').style.border = "1px solid red";
    document.getElementById('error-email').innerText = error
  }
</script>
{% endif %}
{% endblock %}
