{% extends './plantillas/plantilla-chat.html' %}


{% block chat %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/verificacion.css') }}">
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>

<div class="content">
  <div class="log-in-card">
    <div class="close">
      <a href="{{ url_for('home') }}">
        <i class="fi fi-ss-rectangle-xmark"></i>
      </a>
    </div>

    <p><img src="{{ url_for('static', filename='IMGS/2-removebg-preview (1).png') }}" alt="" width="45px"></p><br><br>
    <div id="altern-log">
      <p>
        Te hemos enviado un codigo a {{ session['usuario'] }}. <br>
        Por favor desde que lo recibas escribelo.
    </p>
    {% if error %}
    <div id="error">{{ error }}</div>
    {% endif %}
    </div><br><br><br><br>

    <div id="text-indication">
        <a href="{{ url_for ('resend') }}">
      <p class="log">Resend code</p>
    </a>
    </div>

    <form method="post" >
      <div class="user-box">
        <input id="codigo" oninput="validate()" name="codigo" placeholder="Código" autocomplete="on" required>
        <label >Te hemos enviado un código de verificación</label>
        <br><br><br>
      </div>
      <button class="i-button-register" id="button" disabled >Verificate</button><br><br><br><br><br>
    </form>
  </div><br><br><br>
  <p style="font-size: 0.65em; color: rgba(150, 150, 150, 0.603);">Identidicador: {{ session['idgenuine' ]}}</p>
</div>
</section>
<script>
function validate() {
  let codigo = document.getElementById("codigo").value;
  var button = document.getElementById("button");


  const isFormValid = codigo.length > 3;

  button.disabled = !isFormValid;
  button.style.color = isFormValid ? "black" : "#969696b0";
  button.style.backgroundColor = isFormValid ? "white" : "#96969631";
  button.style.cursor = isFormValid ? "pointer" : "default";
  console.log(isFormValid ? "button enabled" : "button disabled");
  
}  
</script>

</body>
{% endblock %}
